@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
html,
body {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: sans-serif;
}

html.bootstrap-dark {
  color: white;
  background-color: black;
}
html.bootstrap-dark *:not(input) {
  color: white;
  background-color: black;
}

html.bootstrap {
  color: black;
  background-color: white;
}
html.bootstrap *:not(input) {
  color: black;
  background-color: white;
}

main {
  max-width: 1400px;
  width: 80%;
  margin: 0 auto;
}

.flag {
  background-image: url(https://mdbootstrap.com/img/svg/flags.png);
  background-repeat: no-repeat;
  background-size: 16px 11px;
  background-position: -108px -1976px;
}

.flag-ad, .flag-andorra {
  background-position: 0 0 !important;
}

.flag-ae, .flag-uae, .flag-united-arab-emirates {
  background-position: 0 -26px !important;
}

.flag-af, .flag-afghanistan {
  background-position: 0 -52px !important;
}

.flag-ag, .flag-antigua {
  background-position: 0 -78px !important;
}

.flag-ai, .flag-anguilla {
  background-position: 0 -104px !important;
}

.flag-al, .flag-albania {
  background-position: 0 -130px !important;
}

.flag-am, .flag-armenia {
  background-position: 0 -156px !important;
}

.flag-an, .flag-netherlands-antilles {
  background-position: 0 -182px !important;
}

.flag-angola, .flag-ao {
  background-position: 0 -208px !important;
}

.flag-ar, .flag-argentina {
  background-position: 0 -234px !important;
}

.flag-american-samoa, .flag-as {
  background-position: 0 -260px !important;
}

.flag-at, .flag-austria {
  background-position: 0 -286px !important;
}

.flag-au, .flag-australia {
  background-position: 0 -312px !important;
}

.flag-aruba, .flag-aw {
  background-position: 0 -338px !important;
}

.flag-aland-islands, .flag-ax {
  background-position: 0 -364px !important;
}

.flag-az, .flag-azerbaijan {
  background-position: 0 -390px !important;
}

.flag-ba, .flag-bosnia {
  background-position: 0 -416px !important;
}

.flag-barbados, .flag-bb {
  background-position: 0 -442px !important;
}

.flag-bangladesh, .flag-bd {
  background-position: 0 -468px !important;
}

.flag-be, .flag-belgium {
  background-position: 0 -494px !important;
}

.flag-bf, .flag-burkina-faso {
  background-position: 0 -520px !important;
}

.flag-bg, .flag-bulgaria {
  background-position: 0 -546px !important;
}

.flag-bahrain, .flag-bh {
  background-position: 0 -572px !important;
}

.flag-bi, .flag-burundi {
  background-position: 0 -598px !important;
}

.flag-benin, .flag-bj {
  background-position: 0 -624px !important;
}

.flag-bermuda, .flag-bm {
  background-position: 0 -650px !important;
}

.flag-bn, .flag-brunei {
  background-position: 0 -676px !important;
}

.flag-bo, .flag-bolivia {
  background-position: 0 -702px !important;
}

.flag-br, .flag-brazil {
  background-position: 0 -728px !important;
}

.flag-bahamas, .flag-bs {
  background-position: 0 -754px !important;
}

.flag-bhutan, .flag-bt {
  background-position: 0 -780px !important;
}

.flag-bouvet-island, .flag-bv {
  background-position: 0 -806px !important;
}

.flag-botswana, .flag-bw {
  background-position: 0 -832px !important;
}

.flag-belarus, .flag-by {
  background-position: 0 -858px !important;
}

.flag-belize, .flag-bz {
  background-position: 0 -884px !important;
}

.flag-ca, .flag-canada {
  background-position: 0 -910px !important;
}

.flag-cc, .flag-cocos-islands {
  background-position: 0 -962px !important;
}

.flag-cd, .flag-congo {
  background-position: 0 -988px !important;
}

.flag-central-african-republic, .flag-cf {
  background-position: 0 -1014px !important;
}

.flag-cg, .flag-congo-brazzaville {
  background-position: 0 -1040px !important;
}

.flag-ch, .flag-switzerland {
  background-position: 0 -1066px !important;
}

.flag-ci, .flag-cote-divoire {
  background-position: 0 -1092px !important;
}

.flag-ck, .flag-cook-islands {
  background-position: 0 -1118px !important;
}

.flag-chile, .flag-cl {
  background-position: 0 -1144px !important;
}

.flag-cameroon, .flag-cm {
  background-position: 0 -1170px !important;
}

.flag-china, .flag-cn {
  background-position: 0 -1196px !important;
}

.flag-co, .flag-colombia {
  background-position: 0 -1222px !important;
}

.flag-costa-rica, .flag-cr {
  background-position: 0 -1248px !important;
}

.flag-cs, .flag-serbia {
  background-position: 0 -1274px !important;
}

.flag-cu, .flag-cuba {
  background-position: 0 -1300px !important;
}

.flag-cape-verde, .flag-cv {
  background-position: 0 -1326px !important;
}

.flag-christmas-island, .flag-cx {
  background-position: 0 -1352px !important;
}

.flag-cy, .flag-cyprus {
  background-position: 0 -1378px !important;
}

.flag-cz, .flag-czech-republic {
  background-position: 0 -1404px !important;
}

.flag-de, .flag-germany {
  background-position: 0 -1430px !important;
}

.flag-dj, .flag-djibouti {
  background-position: 0 -1456px !important;
}

.flag-denmark, .flag-dk {
  background-position: 0 -1482px !important;
}

.flag-dm, .flag-dominica {
  background-position: 0 -1508px !important;
}

.flag-do, .flag-dominican-republic {
  background-position: 0 -1534px !important;
}

.flag-algeria, .flag-dz {
  background-position: 0 -1560px !important;
}

.flag-ec, .flag-ecuador {
  background-position: 0 -1586px !important;
}

.flag-ee, .flag-estonia {
  background-position: 0 -1612px !important;
}

.flag-eg, .flag-egypt {
  background-position: 0 -1638px !important;
}

.flag-eh, .flag-western-sahara {
  background-position: 0 -1664px !important;
}

.flag-england, .flag-gb-eng {
  background-position: 0 -1690px !important;
}

.flag-er, .flag-eritrea {
  background-position: 0 -1716px !important;
}

.flag-es, .flag-spain {
  background-position: 0 -1742px !important;
}

.flag-et, .flag-ethiopia {
  background-position: 0 -1768px !important;
}

.flag-eu, .flag-european-union {
  background-position: 0 -1794px !important;
}

.flag-fi, .flag-finland {
  background-position: 0 -1846px !important;
}

.flag-fiji, .flag-fj {
  background-position: 0 -1872px !important;
}

.flag-falkland-islands, .flag-fk {
  background-position: 0 -1898px !important;
}

.flag-fm, .flag-micronesia {
  background-position: 0 -1924px !important;
}

.flag-faroe-islands, .flag-fo {
  background-position: 0 -1950px !important;
}

.flag-fr, .flag-france {
  background-position: 0 -1976px !important;
}

.flag-ga, .flag-gabon {
  background-position: -36px 0 !important;
}

.flag-gb, .flag-uk, .flag-united-kingdom {
  background-position: -36px -26px !important;
}

.flag-gd, .flag-grenada {
  background-position: -36px -52px !important;
}

.flag-ge, .flag-georgia {
  background-position: -36px -78px !important;
}

.flag-french-guiana, .flag-gf {
  background-position: -36px -104px !important;
}

.flag-gh, .flag-ghana {
  background-position: -36px -130px !important;
}

.flag-gi, .flag-gibraltar {
  background-position: -36px -156px !important;
}

.flag-gl, .flag-greenland {
  background-position: -36px -182px !important;
}

.flag-gambia, .flag-gm {
  background-position: -36px -208px !important;
}

.flag-gn, .flag-guinea {
  background-position: -36px -234px !important;
}

.flag-gp, .flag-guadeloupe {
  background-position: -36px -260px !important;
}

.flag-equatorial-guinea, .flag-gq {
  background-position: -36px -286px !important;
}

.flag-gr, .flag-greece {
  background-position: -36px -312px !important;
}

.flag-gs, .flag-sandwich-islands {
  background-position: -36px -338px !important;
}

.flag-gt, .flag-guatemala {
  background-position: -36px -364px !important;
}

.flag-gu, .flag-guam {
  background-position: -36px -390px !important;
}

.flag-guinea-bissau, .flag-gw {
  background-position: -36px -416px !important;
}

.flag-guyana, .flag-gy {
  background-position: -36px -442px !important;
}

.flag-hk, .flag-hong-kong {
  background-position: -36px -468px !important;
}

.flag-heard-island, .flag-hm {
  background-position: -36px -494px !important;
}

.flag-hn, .flag-honduras {
  background-position: -36px -520px !important;
}

.flag-croatia, .flag-hr {
  background-position: -36px -546px !important;
}

.flag-haiti, .flag-ht {
  background-position: -36px -572px !important;
}

.flag-hu, .flag-hungary {
  background-position: -36px -598px !important;
}

.flag-id, .flag-indonesia {
  background-position: -36px -624px !important;
}

.flag-ie, .flag-ireland {
  background-position: -36px -650px !important;
}

.flag-il, .flag-israel {
  background-position: -36px -676px !important;
}

.flag-in, .flag-india {
  background-position: -36px -702px !important;
}

.flag-indian-ocean-territory, .flag-io {
  background-position: -36px -728px !important;
}

.flag-iq, .flag-iraq {
  background-position: -36px -754px !important;
}

.flag-ir, .flag-iran {
  background-position: -36px -780px !important;
}

.flag-iceland, .flag-is {
  background-position: -36px -806px !important;
}

.flag-it, .flag-italy {
  background-position: -36px -832px !important;
}

.flag-jamaica, .flag-jm {
  background-position: -36px -858px !important;
}

.flag-jo, .flag-jordan {
  background-position: -36px -884px !important;
}

.flag-japan, .flag-jp {
  background-position: -36px -910px !important;
}

.flag-ke, .flag-kenya {
  background-position: -36px -936px !important;
}

.flag-kg, .flag-kyrgyzstan {
  background-position: -36px -962px !important;
}

.flag-cambodia, .flag-kh {
  background-position: -36px -988px !important;
}

.flag-ki, .flag-kiribati {
  background-position: -36px -1014px !important;
}

.flag-comoros, .flag-km {
  background-position: -36px -1040px !important;
}

.flag-kn, .flag-saint-kitts-and-nevis {
  background-position: -36px -1066px !important;
}

.flag-kp, .flag-north-korea {
  background-position: -36px -1092px !important;
}

.flag-kr, .flag-south-korea {
  background-position: -36px -1118px !important;
}

.flag-kuwait, .flag-kw {
  background-position: -36px -1144px !important;
}

.flag-cayman-islands, .flag-ky {
  background-position: -36px -1170px !important;
}

.flag-kazakhstan, .flag-kz {
  background-position: -36px -1196px !important;
}

.flag-la, .flag-laos {
  background-position: -36px -1222px !important;
}

.flag-lb, .flag-lebanon {
  background-position: -36px -1248px !important;
}

.flag-lc, .flag-saint-lucia {
  background-position: -36px -1274px !important;
}

.flag-li, .flag-liechtenstein {
  background-position: -36px -1300px !important;
}

.flag-lk, .flag-sri-lanka {
  background-position: -36px -1326px !important;
}

.flag-liberia, .flag-lr {
  background-position: -36px -1352px !important;
}

.flag-lesotho, .flag-ls {
  background-position: -36px -1378px !important;
}

.flag-lithuania, .flag-lt {
  background-position: -36px -1404px !important;
}

.flag-lu, .flag-luxembourg {
  background-position: -36px -1430px !important;
}

.flag-latvia, .flag-lv {
  background-position: -36px -1456px !important;
}

.flag-libya, .flag-ly {
  background-position: -36px -1482px !important;
}

.flag-ma, .flag-morocco {
  background-position: -36px -1508px !important;
}

.flag-mc, .flag-monaco {
  background-position: -36px -1534px !important;
}

.flag-md, .flag-moldova {
  background-position: -36px -1560px !important;
}

.flag-me, .flag-montenegro {
  background-position: -36px -1586px !important;
}

.flag-madagascar, .flag-mg {
  background-position: -36px -1613px !important;
}

.flag-marshall-islands, .flag-mh {
  background-position: -36px -1639px !important;
}

.flag-macedonia, .flag-mk {
  background-position: -36px -1665px !important;
}

.flag-mali, .flag-ml {
  background-position: -36px -1691px !important;
}

.flag-burma, .flag-mm, .flag-myanmar {
  background-position: -73px -1821px !important;
}

.flag-mn, .flag-mongolia {
  background-position: -36px -1743px !important;
}

.flag-macau, .flag-mo {
  background-position: -36px -1769px !important;
}

.flag-mp, .flag-northern-mariana-islands {
  background-position: -36px -1795px !important;
}

.flag-martinique, .flag-mq {
  background-position: -36px -1821px !important;
}

.flag-mauritania, .flag-mr {
  background-position: -36px -1847px !important;
}

.flag-montserrat, .flag-ms {
  background-position: -36px -1873px !important;
}

.flag-malta, .flag-mt {
  background-position: -36px -1899px !important;
}

.flag-mauritius, .flag-mu {
  background-position: -36px -1925px !important;
}

.flag-maldives, .flag-mv {
  background-position: -36px -1951px !important;
}

.flag-malawi, .flag-mw {
  background-position: -36px -1977px !important;
}

.flag-mexico, .flag-mx {
  background-position: -72px 0 !important;
}

.flag-malaysia, .flag-my {
  background-position: -72px -26px !important;
}

.flag-mozambique, .flag-mz {
  background-position: -72px -52px !important;
}

.flag-na, .flag-namibia {
  background-position: -72px -78px !important;
}

.flag-nc, .flag-new-caledonia {
  background-position: -72px -104px !important;
}

.flag-ne, .flag-niger {
  background-position: -72px -130px !important;
}

.flag-nf, .flag-norfolk-island {
  background-position: -72px -156px !important;
}

.flag-ng, .flag-nigeria {
  background-position: -72px -182px !important;
}

.flag-ni, .flag-nicaragua {
  background-position: -72px -208px !important;
}

.flag-netherlands, .flag-nl {
  background-position: -72px -234px !important;
}

.flag-no, .flag-norway {
  background-position: -72px -260px !important;
}

.flag-nepal, .flag-np {
  background-position: -72px -286px !important;
}

.flag-nauru, .flag-nr {
  background-position: -72px -312px !important;
}

.flag-niue, .flag-nu {
  background-position: -72px -338px !important;
}

.flag-new-zealand, .flag-nz {
  background-position: -72px -364px !important;
}

.flag-om, .flag-oman {
  background-position: -72px -390px !important;
}

.flag-pa, .flag-panama {
  background-position: -72px -416px !important;
}

.flag-pe, .flag-peru {
  background-position: -72px -442px !important;
}

.flag-french-polynesia, .flag-pf {
  background-position: -72px -468px !important;
}

.flag-new-guinea, .flag-pg {
  background-position: -72px -494px !important;
}

.flag-ph, .flag-philippines {
  background-position: -72px -520px !important;
}

.flag-pakistan, .flag-pk {
  background-position: -72px -546px !important;
}

.flag-pl, .flag-poland {
  background-position: -72px -572px !important;
}

.flag-pm, .flag-saint-pierre {
  background-position: -72px -598px !important;
}

.flag-pitcairn-islands, .flag-pn {
  background-position: -72px -624px !important;
}

.flag-pr, .flag-puerto-rico {
  background-position: -72px -650px !important;
}

.flag-palestine, .flag-ps {
  background-position: -72px -676px !important;
}

.flag-portugal, .flag-pt {
  background-position: -72px -702px !important;
}

.flag-palau, .flag-pw {
  background-position: -72px -728px !important;
}

.flag-paraguay, .flag-py {
  background-position: -72px -754px !important;
}

.flag-qa, .flag-qatar {
  background-position: -72px -780px !important;
}

.flag-re, .flag-reunion {
  background-position: -72px -806px !important;
}

.flag-ro, .flag-romania {
  background-position: -72px -832px !important;
}

.flag-rs, .flag-serbia {
  background-position: -72px -858px !important;
}

.flag-ru, .flag-russia {
  background-position: -72px -884px !important;
}

.flag-rw, .flag-rwanda {
  background-position: -72px -910px !important;
}

.flag-sa, .flag-saudi-arabia {
  background-position: -72px -936px !important;
}

.flag-sb, .flag-solomon-islands {
  background-position: -72px -962px !important;
}

.flag-sc, .flag-seychelles {
  background-position: -72px -988px !important;
}

.flag-gb-sct, .flag-scotland {
  background-position: -72px -1014px !important;
}

.flag-sd, .flag-sudan {
  background-position: -72px -1040px !important;
}

.flag-se, .flag-sweden {
  background-position: -72px -1066px !important;
}

.flag-sg, .flag-singapore {
  background-position: -72px -1092px !important;
}

.flag-saint-helena, .flag-sh {
  background-position: -72px -1118px !important;
}

.flag-si, .flag-slovenia {
  background-position: -72px -1144px !important;
}

.flag-jan-mayen, .flag-sj, .flag-svalbard {
  background-position: -72px -1170px !important;
}

.flag-sk, .flag-slovakia {
  background-position: -72px -1196px !important;
}

.flag-sierra-leone, .flag-sl {
  background-position: -72px -1222px !important;
}

.flag-san-marino, .flag-sm {
  background-position: -72px -1248px !important;
}

.flag-senegal, .flag-sn {
  background-position: -72px -1274px !important;
}

.flag-so, .flag-somalia {
  background-position: -72px -1300px !important;
}

.flag-sr, .flag-suriname {
  background-position: -72px -1326px !important;
}

.flag-sao-tome, .flag-st {
  background-position: -72px -1352px !important;
}

.flag-el-salvador, .flag-sv {
  background-position: -72px -1378px !important;
}

.flag-sy, .flag-syria {
  background-position: -72px -1404px !important;
}

.flag-swaziland, .flag-sz {
  background-position: -72px -1430px !important;
}

.flag-caicos-islands, .flag-tc {
  background-position: -72px -1456px !important;
}

.flag-chad, .flag-td {
  background-position: -72px -1482px !important;
}

.flag-french-territories, .flag-tf {
  background-position: -72px -1508px !important;
}

.flag-tg, .flag-togo {
  background-position: -72px -1534px !important;
}

.flag-th, .flag-thailand {
  background-position: -72px -1560px !important;
}

.flag-tajikistan, .flag-tj {
  background-position: -72px -1586px !important;
}

.flag-tk, .flag-tokelau {
  background-position: -72px -1612px !important;
}

.flag-timorleste, .flag-tl {
  background-position: -72px -1638px !important;
}

.flag-tm, .flag-turkmenistan {
  background-position: -72px -1664px !important;
}

.flag-tn, .flag-tunisia {
  background-position: -72px -1690px !important;
}

.flag-to, .flag-tonga {
  background-position: -72px -1716px !important;
}

.flag-tr, .flag-turkey {
  background-position: -72px -1742px !important;
}

.flag-trinidad, .flag-tt {
  background-position: -72px -1768px !important;
}

.flag-tuvalu, .flag-tv {
  background-position: -72px -1794px !important;
}

.flag-taiwan, .flag-tw {
  background-position: -72px -1820px !important;
}

.flag-tanzania, .flag-tz {
  background-position: -72px -1846px !important;
}

.flag-ua, .flag-ukraine {
  background-position: -72px -1872px !important;
}

.flag-ug, .flag-uganda {
  background-position: -72px -1898px !important;
}

.flag-um, .flag-us-minor-islands {
  background-position: -72px -1924px !important;
}

.flag-america, .flag-united-states, .flag-us {
  background-position: -72px -1950px !important;
}

.flag-uruguay, .flag-uy {
  background-position: -72px -1976px !important;
}

.flag-uz, .flag-uzbekistan {
  background-position: -108px 0 !important;
}

.flag-va, .flag-vatican-city {
  background-position: -108px -26px !important;
}

.flag-saint-vincent, .flag-vc {
  background-position: -108px -52px !important;
}

.flag-ve, .flag-venezuela {
  background-position: -108px -78px !important;
}

.flag-british-virgin-islands, .flag-vg {
  background-position: -108px -104px !important;
}

.flag-us-virgin-islands, .flag-vi {
  background-position: -108px -130px !important;
}

.flag-vietnam, .flag-vn {
  background-position: -108px -156px !important;
}

.flag-vanuatu, .flag-vu {
  background-position: -108px -182px !important;
}

.flag-gb-wls, .flag-wales {
  background-position: -108px -208px !important;
}

.flag-wallis-and-futuna, .flag-wf {
  background-position: -108px -234px !important;
}

.flag-samoa, .flag-ws {
  background-position: -108px -260px !important;
}

.flag-ye, .flag-yemen {
  background-position: -108px -286px !important;
}

.flag-mayotte, .flag-yt {
  background-position: -108px -312px !important;
}

.flag-south-africa, .flag-za {
  background-position: -108px -338px !important;
}

.flag-zambia, .flag-zm {
  background-position: -108px -364px !important;
}

.flag-zimbabwe, .flag-zw {
  background-position: -108px -390px !important;
}

.center-item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

/*# sourceMappingURL=index.css.map */
